<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <title>IRC Index Viewer</title>
    <link rel="stylesheet" type="text/css" href="/css/reset.css"/>
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
    <script type="text/javascript" src="/js/main.js"/>
  </head>
  
  <body>
    <nav id="navigation">
      <form method="GET" class="search-form">
        <input class="query" name="q" type="text"/>
        <input class="search" name="search" type="submit" value="Search"/>
      </form>

      <ul class="servers">
        <li class="server">
          <a class="server-link"/>
          <ul class="channels">
            <li class="channel">
              <a class="channel-link"/>
            </li>
          </ul>
        </li>
      </ul>
    </nav>

    <section id="main-section"/>
  </body>
</html>